.light{
    --theme-page-background-color: #F8F9FB;
    --theme-page-text-color: #002A44;
    --theme-response-area-background-color: #FFF;
}
.dark{
    --theme-page-background-color: #222831;
    --theme-page-text-color:#ececec;
    --theme-response-area-background-color: #30475e;
}